body {
  margin: 0;
}
.clear:after {
  content: '';
  display: block;
  clear: both;
}
.bg {
  width: 720px;
  height: 576px;
  background: url("bg.jpg");
  background-size: cover;
  position: relative;
}
.date {
  width: 360px;
  height: 451px;
  position: absolute;
  bottom: 0;
  right: 0;
  box-shadow: -3px -3px 5px 0 rgba(0, 0, 0, 0.5);
}
.date .title {
  width: 100%;
  height: 110px;
  background-color: rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  padding-left: 20px;
}
.date .title .time {
  font: 34px/64px "微软雅黑";
  color: #fff;
  display: block;
  padding-top: 10px;
  cursor: default;
}
.date .title .bigTime {
  font: 12px/12px "微软雅黑";
  color: blue;
  display: block;
  cursor: default;
}
.date .allDay {
  width: 100%;
  height: 340px;
  background-color: rgba(0, 0, 0, 0.7);
}
.date .allDay .Atitle {
  color: rgba(255, 255, 255, 0.7);
  padding-right: 11px;
}
.date .allDay .Atitle .YM {
  text-indent: 25px;
  display: inline-block;
  font: 14px/53px "微软雅黑";
  float: left;
  cursor: default;
}
.date .allDay .Atitle .up {
  float: right;
  font: 14px/48px "微软雅黑";
  padding-bottom: 5px;
  width: 48px;
  cursor: pointer;
}
.date .allDay .Atitle .down {
  float: right;
  font: 14px/53px "微软雅黑";
  width: 48px;
  cursor: pointer;
}
.allDay .days {
  padding-left: 13px;
  font-size: 0;
}
.allDay .days .daysDayS {
  display: inline-block;
  vertical-align: top;
  width: 48px;
  height: 40px;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  cursor: default;
  font: 12px/40px "微软雅黑";
}
.allDay .days .daysDay {
  display: inline-block;
  vertical-align: top;
  width: 48px;
  height: 40px;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  font: 12px/40px "微软雅黑";
}
.allDay .days .daysDay:hover {
  box-shadow: inset 0 0  0 2px grey;
}
.allDay .days .daysDay.active {
  box-shadow: inset 0 0  0 2px royalblue;
}
.allDay .days .daysDay.daysPast {
  color: rgba(255, 255, 255, 0.3);
}
.allDay .days .daysDay.daysIng {
  color: rgba(255, 255, 255, 0.9);
}
.allDay .days .daysDay.now {
  background-color: royalblue;
  box-shadow: inset 0 0  0 2px royalblue,inset 0 0  0 4px black;
}
